<%- include('../partials/head')%>
    <%- include('../partials/navbar')%>

        <h1>Edit</h1>
        <form method="post" action="/comments/<%=comment.id%>/?_method=PATCH">
            <textarea name="comment" id="comment" cols="30" rows="10"><%=comment.comment%></textarea>
            <br>
            <button type="submit">Save</button>
        </form>

        <%- include('../partials/footer')%>