<%- include('../partials/head')%>
    <%- include('../partials/navbar')%>

        <h1>Comments</h1>
        <ul>
            <%for (let item of comments) {%>
                <li>
                    <%= item.comment%> - <b>
                            <%=item.username%>
                        </b> <a href="/comments/<%=item.id%>">details</a>
                </li>
                <%}%>
        </ul>
        <a href="/comments/new">Add New Comment</a>

        <%- include('../partials/footer')%>